<div id="page-container">
      <app-navbar></app-navbar>
      <!--Content of the page-->

  <section style="padding-top: 11vh;">
    <div class="container">

      <div class="box-1">
        <h2>A robust cloud based employee rating system that gives accurate assesment over a period of
          time in regard to an employee and their services</h2>
        <h4>Ratify is a comprehensive system designed to enhance productivity by monitoring employee
          performance</h4>
      </div>

      <div class="box-2">
        <img class="pic" src="assets/images/headerRating.svg" alt="">
      </div>

      <div class="box-3">
        <input type="button" value="Request Demo" id="demo">
        <input type="button" value="Get Started" id="getStarted">
      </div>
    </div>
  </section>


  <!--<section id="section2">
      <div class="container" id="sec2text">
        <h2>Why us?</h2>
        <h4>Well, we're glad you asked!</h4>
        <h4>Ratify takes the guess work out of how productive your employees as well as formulate the best
          teams possible. </h4>
      </div>
    </section>

    <section id="section3">

      <div class="sec">
        <div id="rating" id="ratings">
          <h4>Get an accurate feedback from your employees regarding their colleagues through a 360 degree
            rating</h4>
        </div>
        <div>
          <img id="ratingImg" src="assets/images/undraw_Sharing_articles_re_jnkp.svg" alt="360 degree rating">
        </div>
      </div>


      <div class="clr"></div>


      <div class="sec">
        <div id="personality">
          <h4>Get the most out of your employees by placing them in the most effective environment by
            pairing
            similar personalities</h4>
        </div>
        <div>
          <img id="personalityImg" src="assets/images/teamwork.svg" alt="360 degree rating">
        </div>
      </div>


      <div class="clr"></div>



      <div class="sec">
        <div id="report">
          <h4>Keep track of progess with cumulative charts that show the progress of every individual as
            well
            as departments or even the organisation as a whole</h4>
        </div>
        <div>
          <img id="reportImg" src="assets/images/report.svg" alt="360 degree rating">

        </div>
      </div>
      <div class="clr"></div>


    </section>

    <div style="margin-top: 500px;"></div>

    <section id="ender">
      <div class="container">

        <div class="block">
          <ul>
            <li>Have a Question?</li>
            <li>+254 725083 289</li>
            <li>info@ratify.co.ke</li>
          </ul>
        </div>

        <div class="block">
          <ul>
            <li>Explore</li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact us</a></li>

          </ul>
        </div>

        <div class="block">
          <ul>
            <li>Quick links</li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy</a></li>

          </ul>
        </div>


        <div class="block">
          <ul>
            <li><a>Ratify</a></li>
            <p>Intertwining of personal and professional life</p>
          </ul>
        </div>


      </div>
      <div class="clr"></div>

      <form action="submit">
        <div class="form">
          <input type="email">
          <input type="button" value="submit">

        </div>
      </form>

    </section>

  </div>


  <footer id="footer">
    <div class="container">
      <p>Copyright &copy;Ratify.ke. All rights reserved 2021</p>
    </div>
  </footer>
</body> -->
