<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <br><br>
  <h3 class="register-heading text-sm-start text-md-center">You are signing up  as a User</h3>
  <form class="mt-3" #signup="ngForm" (ngSubmit)="save(signup)">
    <div class="row justify-content-around">
      <div class="col-md-5">
        <mat-form-field class="input mb-0">
          <input matInput type="text" placeholder="firstname(required)" name="fname" ngModel #fname="ngModel" required
            class="p-0 m-0">
        </mat-form-field>
        <mat-error *ngIf="fname.invalid && (fname.touched || fname.dirty)" class="mt-0">
          <em *ngIf="fname.errors.required" class="mt-0">firstname is required</em>
        </mat-error>
      </div>
      <div class="col-md-5 mb-0">
        <mat-form-field class="input">
          <input matInput type="text" placeholder="lastName(required)" name="lname" ngModel #lname="ngModel" required
            class="p-0 m-0">
        </mat-form-field>
        <mat-error *ngIf="lname.invalid && (lname.touched || lname.dirty)" class="mt-0">
          <em *ngIf="lname.errors.required" class="mt-0">lastname is required</em>
        </mat-error>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col-md-5">
        <mat-form-field class="input">
          <input matInput type="text" placeholder="username(required)" name="userName" ngModel #username="ngModel"
            required class="p-0 m-0">
          <mat-error *ngIf="username.invalid && (username.touched || username.dirty)" class="mt-0">
            <em *ngIf="username.errors.required">username is required</em>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="input">
          <input matInput type="email" placeholder="email(required)" name="email" ngModel #email="ngModel" required
            email class="p-0 m-0">
        </mat-form-field>
        <mat-error *ngIf="email.invalid && (email.touched || email.dirty)" class="mt-0">
          <em *ngIf="email.errors.required">email is required</em>
          <em *ngIf="email.errors.email">enter a valid email</em>
        </mat-error>
      </div>
    </div>

    <div class="row justify-content-around mt-2">
      <div class="col-md-5">
        <mat-form-field class="input">
          <input matInput type="tel" placeholder="phonenumber(required)" name="phone" ngModel #phone="ngModel" required
            phone class="p-0 m-0">
        </mat-form-field>
        <mat-error *ngIf="phone.invalid && (phone.touched || phone.dirty)" class="mt-0">
          <em *ngIf="phone.errors.required">phone is required</em>
        </mat-error>
      </div>

      <div class="col-md-5">
        <mat-form-field class="input">
          <input matInput type="number" placeholder="ID Number(required)" name="idnum" ngModel #idnum="ngModel" required
            idnum class="p-0 m-0">
        </mat-form-field>
        <mat-error *ngIf="idnum.invalid && (idnum.touched || idnum.dirty)" class="mt-0">
          <em *ngIf="idnum.errors.required">ID number is required</em>
        </mat-error>
      </div>
    </div>

    <div class="row ml-2">
      <div class="col-md-6 ml-md-3">
        <div class="form-group d-flex justify-content-around">
          <div class="font-weight-bold text-dark ml-3">Select Role *</div>
          <label class="radio-inline mr-3 font-weight-normal" style="color: #111;">
            <input type="radio" class="margin-left-2" value="female" name="gender" id="female" ngModel #gender="ngModel"
              required> Female</label>
          <label class="radio-inline mr-3 font-weight-normal" style="color: #111;">
            <input type="radio" value="male" name="gender" id="farmer" ngModel #gender="ngModel" required> Male</label>
        </div>
        <div *ngIf="gender.invalid && (gender.dirty || mouseOver)">
          <em *ngIf="gender.errors.required">Please specify gender</em>
        </div>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col-md-5">
        <mat-form-field class="input">
          <input matInput type="password" placeholder="password(required)" name="password" ngModel #password="ngModel"
            required minlength="4" class="p-0 m-0">
        </mat-form-field>
        <mat-error *ngIf="password.invalid && (password.touched || password.dirty)" class="mt-0">
          <em *ngIf="password.errors.required">password is required</em>
          <em *ngIf="password.errors.minlength">password is too short</em>
        </mat-error>
      </div>
      <div class="col-md-5">
        <mat-form-field class="input">
          <input matInput type="password" placeholder="confirmpass(required)" name="confirmPassword" ngValidateEqual="password" ngModel
            #confirmPassword="ngModel" required class="m-0 p-0">
          <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)">
            <em *ngIf="confirmPassword.errors.required">confirm password required</em>
            <em *ngIf="confirmPassword.hasError('notEqual') && password.valid">password does not match</em>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button mat-raised-button  class="btnRegister" [disabled]="signup.invalid || signup.pristine">Register</button>
  </div>
  </form>
</div>
